@{
    ViewData["Title"] = "Hakkımızda Sayfası";
}


<header class="bg-warning text-center py-4">
    <h1>Hayvan Barınağı</h1>
    <p>Barınaktaki Hayvanlara Yeni Bir Yuva Verin</p>
</header>

<div class="container mt-4">
    <h2 class="text-center">Hakkımızda</h2>
    <p>
        Hayvan Barınağı olarak, 20 yıldır sokak hayvanlarına koruma ve sahiplendirme hizmeti veriyoruz.
        Amacımız, sokaklarda yaşayan hayvanların yaşam koşullarını iyileştirmek ve onlara sıcak ve sevgi dolu bir yuva sağlamaktır.
    </p>
    <p>
        Barınak ekibimiz, veterinerler ve gönüllülerden oluşmaktadır.
        Hayvanların sağlık durumunu düzenli olarak kontrol ediyor, aşılarını yaparak ve tıbbi müdahaleleri gerçekleştiriyoruz.
    </p>
    <p>
        Sahiplendirme sürecimiz, uygun ve sevgi dolu bir yuva sağlamak adına titizlikle yürütülmektedir.
        Başvuruları dikkatlice inceliyor ve hayvanları sahiplenmeye uygun aileleriyle eşleştiriyoruz.
    </p>
    <p>
        Hayvan severler olarak, hayvanların haklarına saygı gösteriyor ve toplumda farkındalığı artırmak için çeşitli etkinlikler düzenliyoruz.
        Destekleriniz ve katkılarınız, barınakta yaşayan hayvanlar için büyük önem taşımaktadır.
    </p>
    <p>
        Siz de hayvanlar için bir fark yaratmak istiyorsanız, barınağımıza gelerek gönüllü olarak yardım edebilir veya bağışlarınızla destek olabilirsiniz.
        Hayvanların yaşam kalitesini yükseltmek için birlikte çalışmak dileğiyle.
    </p>
</div>
